.about-page-container {
    position: relative;
}

.about-page-background-pillar-1 {
    position: absolute;
    width: 30rem;
    top: 50%;
    opacity: 0.5;
    z-index: 1;
}

.about-page-background-pillar-2 {
    position: absolute;
    width: 30rem;
    top: 10%;
    opacity: 0.5;
    right: 0;
    z-index: 1;
}

.about-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}


.about-heading-container {
    width: 50%;
    margin-top: 12rem;
    position: relative;
}

.about-heading {
    font-size: 4rem;
    font-weight: 500;
    color: #1dcbcb;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.about-heading-underline {
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #47afaf, rgba(255, 255, 255, 0));
    margin-top: 1rem;
}

.about-content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto 0;

}

.about-content-text {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: justify;

}

.about-content-text-header {
    color: #1dcbcb;
}

@media (max-width: 700px) {

    .about-heading-container {
        width: 100%;
    }

    .about-heading {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    .about-content-container {
        width: 95%;
    }

    .about-content-text {
        font-size: 1rem;
    }
}

.approach-container {
    display: flex;
    flex-direction: column;
    height: 120vh;
}

.approach-heading-container {
    width: 100%;
    margin-top: 12rem;
    position: relative;
}

.approach-heading {
    font-size: 4rem;
    font-weight: 500;
    color: #1dcbcb;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.approach-heading-underline {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 0.2rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #47afaf, rgba(255, 255, 255, 0));
    margin-top: 1rem;
}

.approach-content-image-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin: 5rem 0 0;
}

.approach-content-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 5rem auto 0;
}

.approach-content-image {
    margin-top: 10rem;
    width: 25rem;
    height: 15rem;
}

.approach-content-text-container {
    z-index: 20;
    opacity: 0.6;
    background: black;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto 0;

}

.approach-content-text {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: justify;
}


@media (max-width: 700px) {

    .approach-heading-container {
        width: 100%;
    }

    .approach-heading-underline {
        width: 100%;
        left: 0;
    }

    .approach-heading {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    .approach-content-container {
        margin-top: 0;
        width: 95%;
    }

    .approach-content-text {
        font-size: 1rem;
    }

    .approach-content-image {
        width: 0;
    }

    .approach-content-text-container {
        width: 100%;
    }

    .approach-content-image-container {
        width: 0;
    }
}

.vision-container {
    z-index: 20;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.vision-heading-container {
    background-color: black;
    z-index: 20;
    width: 50%;
    margin-right: 0;
    margin-left: auto;
    position: relative;
}

.vision-heading {
    z-index: 20;
    font-size: 4rem;
    font-weight: 500;
    color: #1dcbcb;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.vision-heading-underline {
    z-index: 20;
    position: absolute;
    width: 80%;
    left: 10%;
    height: 0.2rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #47afaf, rgba(255, 255, 255, 0));
    margin-top: 1rem;
}

.vision-content-container {
    z-index: 20;
    width: 98%;
    display: flex;
    flex-direction: row;
    margin: 5rem auto 0;
}

.vision-content-image-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vision-content-image {
    width: 30rem;
}

.vision-content-text-container {
    z-index: 22;
    background: black;
    opacity: 0.6;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
}

.vision-content-text {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: justify;
}

@media (max-width: 700px) {
    .vision-heading-container {
        width: 100%;
    }

    .vision-heading-underline {
        width: 100%;
        left: 0;
    }

    .vision-heading {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    .vision-content-container {
        margin-top: 0;
        width: 95%;
    }

    .vision-content-text {
        font-size: 1rem;
    }

    .vision-content-image {
        width: 0;
    }

    .vision-content-image-container {
        width: 0;
    }

    .vision-content-text-container {
        width: 100%;
    }
}



