/*Main page container with repeating gif as background*/
.about-page-container {
    position: relative;
    z-index: 0;
}



/*container blur*/
.about-page-container-blur {
    position: fixed;
    top: 60vh;
    width: 99vw;
    height: 50vh;
    z-index: 100;
}

.about-page-container-overlay-blur {
    position: absolute;
    width: 99vw;
    height: 50vh;
    top: 60vh;
    z-index: 10;
    transition: transform linear;
}

/*Constant three blue dots created with css vertically placed at bottom left of screen*/
@media screen and (min-width: 768px) {
    .about-page-dot {
        z-index: 11;
        content: "";
        position: fixed;
        bottom: 4rem;
        left: 4rem;
        width: 2rem;
        height: 2rem;
        background-color: #49ccfc;
        clip-path: circle(50% at 50% 50%);
        margin-top: 3rem; /* Adjust this value to space out the circles vertically */
    }

    .about-page-dot:nth-child(2) {
        bottom: 8rem; /* Adjust this value to space out the circles vertically */
    }

    .about-page-dot:nth-child(3) {
        bottom: 12rem; /* Adjust this value to space out the circles vertically */
    }
}


/*About header container*/
.about-header-container {
    position: relative;
    background-image: url(../public/about/LoopedClouds.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

    z-index: 10;

}


.about-page-x-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 20;
}

.about-page-x-container-row-one {
    display: flex;
    flex-direction: row;
}
.about-page-x-container-row-two {
    display: flex;
    flex-direction: row;
}
.about-page-x-img{
        /*transform: rotate(45deg);*/
}

/*media queries for x container*/
@media screen and (max-width: 768px) {
    .about-page-x-container {
        width: 0rem;
    }

    .about-page-x-container-row-one {
           width: 0rem;
    }
    .about-page-x-container-row-two {
           width: 0rem;
    }
    .about-page-x-img{
           width: 0rem;
    }
}

.about-header-content {
    padding-top: 14rem;
}

.about-header-heading {
    margin-left: 33%;
    font-size: 5rem;
    color: white;
}

.about-header-blue {
    color: #49ccfc;
}

/*About header media queries*/

@media screen and (max-width: 768px) {
    .about-header-heading {
        margin-left: 10%;
        font-size: 3rem;
    }
}

/*About content in place*/
.about-about-content-placing {
    z-index: 9;
    position: relative;
}

.about-circle-container {
    z-index: 4;
    position: fixed;
    top: 2.5rem;
    left: 12rem;
}

.about-circle-img {
    z-index: 4;
    width: 10rem;
    height: 10rem;
}

.about-x-container {
    z-index: 4;
    position: fixed;
    top: 15rem;
    left: 5rem;
}

.about-x-img {
    z-index: 4;
    width: 15rem;
    height: 15rem;
}

/*about about progress bar*/

.about-about-progress-bar {
    position: fixed;
    bottom: 2rem;
    left: 10rem;
    z-index: 30;
    width: 0.7rem;
}

.about-about-progress-bar-two {
    position: fixed;
    bottom: 1rem;
    left: 11.5rem;
    z-index: 30;
    width: 0.7rem;
}

/*About about section */


.about-about-section-container {
    position: relative;
    background-image:  url(../public/about/LoopedDarkend2.gif);
        background-color: lightgray;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

/*adding image as overlay*/
.about-about-section-overlay {
    /*background-color: lightgray;*/
    /*background-blend-mode: hard-light;*/
    position: absolute;
    height: 50vh;
    width: 99vw;
    z-index: -1;
}


.about-about-section-header {
    margin-left: 4%;
    padding-top: 13rem;
    width: 50%;
}

.about-about-section-heading {
    text-align: center;
    opacity: 1;
    font-size: 3rem;
    color: white;
}

.about-about-section-text {
    margin-top: 0rem;
    width: 45%;
    margin-right: 8rem;
    margin-left: auto;

}

.about-about-section-paragraph-one {
    font-size: 1.3rem;
    color: white;
}

.about-about-section-paragraph-two {
    font-size: 1.3rem;
    color: white;
}

/*Media queries for about about section*/
@media screen and (max-width: 768px) {
    .about-about-section-container {
        height: 100%;
    }

    .about-about-section-overlay {
        height: 100%;
    }

    .about-about-section-header {
        margin-left: 10%;
        padding-top: 13rem;
        width: 80%;
    }

    .about-about-section-heading {
        text-align: center;
        opacity: 1;
        font-size: 3rem;
        color: white;
    }

    .about-about-section-text {
        text-align: center;
        margin-top: 4rem;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0.2rem;
        border: solid rgba(255, 0, 0, 0);

    }

    .about-about-section-paragraph-one {
        font-size: 1.3rem;
        color: white;
    }

    .about-about-section-paragraph-two {
        font-size: 1.3rem;
        color: white;
    }
}

/*The gap with logo symbols coming up*/
.about-gap-section-one-container {
    position: relative;
    background-image:  url(../public/about/LoopedDarkend2.gif);
            background-color: lightgray;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

/*adding image as overlay*/
.about-gap-section-one-container-overlay {
    position: absolute;
    height: 50vh;
    width: 99vw;
    z-index: -1;
}

.about-gap-one-pillars-container {
    padding-top: 10rem;
}

.about-gap-one-pillar-one {
    position: absolute;
    left: -18rem;
    width: 58rem;
    height: 59rem;
}

.about-gap-one-pillar-two {
    position: absolute;
    left: 30%;
    top: 5rem;
    width: 25rem;
}

.about-gap-one-pillar-three {
    position: absolute;
    left: 55%;
    top: 15rem;
    width: 20rem;
    transform: scaleX(-1);
}

.about-gap-one-pillar-four {
    position: absolute;
    left: 60%;
    top: 15rem;
    width: 35rem;
    transform: scaleX(-1);
}


/*approach section*/
/*content placement*/
.about-approach-content-placing {
    z-index: 7;
    position: relative;
}

/*about approach progress bar*/
.about-approach-progress-bar-one {
    position: fixed;
    bottom: 2rem;
    left: 10rem;
    width: 0.7rem;
    z-index: 11 !important;
}

.about-approach-progress-bar-two {
    position: fixed;
    bottom: 1rem;
    left: 11.4rem;
    width: 0.7rem;
    z-index: 1;
}

.about-approach-section-container {
    position: relative;
    background-image:  url(../public/about/LoopedDarkend2.gif);
            background-color: lightgray;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

/*adding image as overlay*/
.about-approach-section-overlay {
    position: absolute;
    height: 50vh;
    width: 99vw;
    z-index: -1;
}

.about-approach-section-header {
    text-align: center;
    padding-top: 10rem;
}

.about-approach-section-heading {
    text-align: center;
    opacity: 1;
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

.about-approach-section-heading-blue {
    color: #49ccfc;
    margin-top: 0;
    padding-top: 0;
    margin-right: 8%;
}

.about-approach-section-text {
    /*margin-right: 50%;*/
    text-align: right;
    margin-left: 27%;
    width: 30%;

}

.about-approach-section-paragraph-one {
    color: #ffffff;
    font-size: 1.3rem;
}

.about-approach-section-paragraph-two {
    padding-top: 2rem;
    color: #ffffff;
    font-size: 1.3rem;
}

/*media queries for approach section*/
@media screen and (max-width: 768px) {
    .about-approach-section-container {
        height: 100%;
    }

    .about-approach-section-overlay {
        height: 100%;
    }

    .about-approach-section-header {
        text-align: center;
        padding-top: 13rem;
    }

    .about-approach-section-heading {
        text-align: center;
        opacity: 1;
        font-size: 3rem;
        color: white;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .about-approach-section-heading-blue {
        color: #49ccfc;
        margin-top: 0;
        padding-top: 0;
        margin-right: 8%;
    }

    .about-approach-section-text {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 0.2rem;
        border: solid rgba(255, 0, 0, 0);
        width: 100%;
    }

    .about-approach-section-paragraph-one {
        color: #ffffff;
        font-size: 1.3rem;
    }

    .about-approach-section-paragraph-two {
        padding-top: 2rem;
        color: #ffffff;
        font-size: 1.3rem;
    }
}

/*Gap section 2*/
/*The gap with logo symbols coming up*/
.about-gap-section-two-container {
    position: relative;
    background-image:  url(../public/about/LoopedDarkend2.gif);
            background-color: lightgray;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

/*adding image as overlay*/
.about-gap-section-two-container-overlay {
    position: absolute;
    height: 50vh;
    width: 99vw;
    z-index: -1;
}

.about-gap-two-pillars-container {
    padding-top: 10rem;
}

.about-gap-two-pillar-one {
    position: absolute;
    left: -15rem;
    top: 15rem;
    width: 50rem;
    height: 59rem;
}

.about-gap-two-pillar-two {
    position: absolute;
    left: 40%;
    top: 0rem;
    width: 45rem;
    transform: scaleX(-1);
    z-index: -1;
}


/*media queries for pillars*/
@media screen and (max-width: 768px) {
    .about-gap-two-pillar-one {
           width: 10rem;
        height: 10rem;
        top: 12rem;
        left: 0;
        right: 0;
    }

    .about-gap-two-pillar-two {
       width: 10rem;
        height: 10rem;
        top: 16rem;
        right: 50rem;
    }

    .about-gap-one-pillar-one {
        width: 10rem;
        height: 10rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .about-gap-one-pillar-two {
        width: 10rem;
        height: 10rem;
        left: 25%;
        top: 8rem;
    }

    .about-gap-one-pillar-three {
        width: 10rem;
        height: 10rem;
        top: 0;
        right: 50rem;
        bottom: 0;
    }

    .about-gap-one-pillar-four {
         width: 0rem;
        height: 0rem;
        top: 0;
        right: 0rem;
        bottom: 0;
    }
}

/*Vision section*/

/*about-vision-content-placing*/
.about-vision-content-placing {
    z-index: 6;
    position: relative;
}

/*progress bars*/
.about-vision-progress-bar-one {
    position: fixed;
    bottom: 2rem;
    left: 10rem;
    width: 0.7rem;
    z-index: -2;
}

.about-vision-progress-bar-two {
    position: fixed;
    bottom: 1rem;
    left: 11.4rem;
    width: 0.7rem;
    z-index: -2;
}

.about-vision-progress-bar-three {
    position: fixed;
    bottom: 2rem;
    left: 12.8rem;
    width: 0.7rem;
    z-index: -1;
}

.about-vision-section-container {
    position: relative;
    background-image:  url(../public/about/LoopedDarkend2.gif);
            background-color: lightgray;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

/*adding image as overlay*/
.about-vision-section-overlay {
    position: absolute;
    height: 50vh;
    width: 99vw;
    z-index: -1;
}

.about-vision-section-header {
    padding-top: 13rem;
    width: 50%;
    margin-left: 15%;
}

.about-vision-section-heading {
    opacity: 1;
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

.about-vision-section-heading-blue {
    color: #49ccfc;
    margin-top: 0;
    padding-top: 0;
    margin-right: 8%;
}

.about-vision-section-text {
    text-align: left;
    margin-left: 55%;
    width: 30%;

}


.about-vision-section-paragraph-one {
    color: #ffffff;
    font-size: 1.3rem;
}

.about-vision-section-paragraph-two {
    padding-top: 2rem;
    color: #ffffff;
    font-size: 1.3rem;
}

/*Media queries for vision*/
@media screen and (max-width: 768px) {
    .about-vision-section-container {
        height: 100%;
    }

    .about-vision-section-overlay {
        height: 100%;
    }

    .about-vision-section-header {
        padding-top: 13rem;
        width: 80%;
        margin-left: 10%;
    }

    .about-vision-section-heading {
        opacity: 1;
        font-size: 3rem;
        color: white;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .about-vision-section-heading-blue {
        color: #49ccfc;
        margin-top: 0;
        padding-top: 0;
        margin-right: 8%;
    }

    .about-vision-section-text {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 0.2rem;
        border: solid rgba(255, 0, 0, 0);
        width: 100%;
    }

    .about-vision-section-paragraph-one {
        color: #ffffff;
        font-size: 1.3rem;
    }

    .about-vision-section-paragraph-two {
        padding-top: 2rem;
        color: #ffffff;
        font-size: 1.3rem;
    }
}

/*small gap before find out more*/
.about-small-gap-before-more-section-container {
        border: solid red;

    display: flex;
    position: relative;
    background-image:  url(../public/about/LoopedDarkend2.gif);

            background-color: lightgray;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 13;
}


.about-small-gap-before-more-image {
    position: absolute;
    width: 15rem;
    top: 34rem;
    left: 5rem;
}

.about-small-gap-before-more-section-img-one {
    transition: transform 0s; /* Disable the transition for scaling */
    margin-left: 10rem;
    margin-top: 28rem;
    width: 0.7rem;
}

.about-small-gap-before-more-section-img-two {
    transition: transform 0s; /* Disable the transition for scaling */
    margin-left: 0.7rem;
    margin-top: 29rem;
    width: 0.7rem;
}

.about-small-gap-before-more-section-img-three {
    transition: transform 0s; /* Disable the transition for scaling */
    margin-left: 0.7rem;
    margin-top: 28rem;
    width: 0.7rem;
}

.about-small-gap-before-more-section-img-four {
    transition: transform 0s; /* Disable the transition for scaling */
    margin-left: 0.7rem;
    margin-top: 29rem;
    width: 0.7rem;
}


/*Find out more css*/
.about-find-out-more-container {
    display: flex;
    position: relative;
    background-image:  url(../public/about/LoopedDarkend2.gif);
            background-color: lightgray;
    background-blend-mode: hard-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 12;
}

.about-more-section-overlay {
    position: absolute;
    height: 100vh;
    width: 99vw;
    z-index: -1;
}

.about-find-out-more-logo {
    display: flex;
    align-items: center;
    width: 40%;
}

.about-find-out-more-logo-image {
    position: absolute;
    left: -8rem;
    width: 54rem;
}

.about-find-out-more-content {
    width: 50%;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;

}

.about-find-out-more-header {
    margin-bottom: 0;
    padding-bottom: 5rem;
}

.about-find-out-more-heading {
    font-size: 5rem;
    color: #49ccfc;
    margin-top: 0;
    padding-top: 0;
}

.about-find-out-more-text {
    width: 70%;
    font-size: 1.3rem;
    color: white;
}

.about-find-horizontal-container {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.about-find-dots-container {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.about-find-horizontal-dot {
    width: 2.3rem;
    height: 2.3rem;
    background-color: #49ccfc;
    border-radius: 50%;
    margin-right: 1rem;
}

.about-find-text {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.about-find-text-paragraph {
    text-align: end;
    font-size: 1.3rem;
    color: white;
}

.arrow-container {
    text-align: center;
    font-size: 2rem; /* Adjust the size as needed */
    color: #333; /* Adjust the color as needed */
}

.about-find-arrow-container {
    margin-left: 2rem;
}

.about-find-out-more-email-container {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    width: 50%;
    margin-top: 5rem;
}

.about-find-out-more-email-paragraph {
    text-align: end;
    font-size: 1.3rem;
    color: white;
}


/*Media queries for about find more*/
@media screen and (max-width: 768px) {
    .about-find-out-more-container {
        height: 100%;
    }

    .about-more-section-overlay {
        height: 100%;
    }

    .about-find-out-more-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about-find-out-more-logo-image {
        position: absolute;
        left: -8rem;
        width: 0rem;
    }

    .about-find-out-more-content {
        width: 100%;
        margin-top: 15rem;
        display: flex;
        flex-direction: column;

    }

    .about-find-out-more-header {
        margin-bottom: 0;
        padding-bottom: 5rem;
    }

    .about-find-out-more-heading {
        font-size: 5rem;
        color: #49ccfc;
        margin-top: 0;
        padding-top: 0;
    }

    .about-find-out-more-text {
        width: 100%;
        font-size: 1.3rem;
        color: white;
    }

    .about-find-horizontal-container {
        display: flex;
        flex-direction: row;
        margin-top: 5rem;
    }

    .about-find-dots-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .about-find-horizontal-dot {
        width: 2.3rem;
        height: 2.3rem;
        background-color: #49ccfc;
        border-radius: 50%;
        margin-right: 1rem;
    }

    .about-find-text {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .about-find-text-paragraph {
        text-align: end;
        font-size: 1.3rem;
        color: white;
    }

    .arrow-container {
        text-align: center;
        font-size: 2rem; /* Adjust the size as needed */
        color: #333; /* Adjust the color as needed */
    }

    .about-find-arrow-container {
        margin-left: 2rem;
    }

    .about-find-out-more-email-container {
        margin-right: 0;
        margin-left: auto;
        display: flex;
        width: 100%;
        margin-top: 5rem;
    }

    .about-find-out-more-email-paragraph {
        text-align: end;
        font-size: 1.3rem;
        color: white;
    }
}