/*Main page container with repeating gif as background*/
.about-page-container {

}

/*Constant three blue dots created with css vertically placed at bottom left of screen*/
@media screen and (min-width: 768px) {
    .about-page-dot {
        z-index: 100;
        content: "";
        position: fixed;
        bottom: 4rem;
        left: 4rem;
        width: 2rem;
        height: 2rem;
        background-color: #49ccfc;
        clip-path: circle(50% at 50% 50%);
        margin-top: 3rem; /* Adjust this value to space out the circles vertically */
    }

    .about-page-dot:nth-child(2) {
        bottom: 8rem; /* Adjust this value to space out the circles vertically */
    }

    .about-page-dot:nth-child(3) {
        bottom: 12rem; /* Adjust this value to space out the circles vertically */
    }
}


/*About header container*/
.about-header-container {
    position: relative;
    background-image: url(../public/about/backgroundClouds.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 2;

}

.about-header-content {
    padding-top: 14rem;
}

.about-header-heading {
    margin-left: 33%;
    font-size: 5rem;
    color: white;
}

.about-header-blue {
    color: #49ccfc;
}

/*About header media queries*/

@media screen and (max-width: 768px) {
    .about-header-heading {
        margin-left: 10%;
        font-size: 3rem;
    }
}

/*About content in place*/
.about-about-content-placing {
    z-index: 1;
    position: relative;
}

.about-circle-container {
    z-index: 100;
    position: fixed;
    top: 2.5rem;
    left: 12rem;
}

.about-circle-img {
    width: 10rem;
    height: 10rem;
}

.about-x-container {
    z-index: 100;
    position: fixed;
    top: 15rem;
    left: 5rem;
}

.about-x-img {
    width: 15rem;
    height: 15rem;
}

/*About about section */
.about-about-section-container {
    position: relative;
    background-image: url(../public/about/cloudsDark.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

/*adding image as overlay*/
.about-about-section-overlay {
    position: absolute;
    /*opacity: 0.5;*/
    background-image: url(../public/about/Colourblur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
}


.about-about-section-header {
    margin-left: 8%;
    padding-top: 13rem;
    width: 50%;
}

.about-about-section-heading {
    text-align: center;
    opacity: 1;
    font-size: 4rem;
    color: white;
}

.about-about-section-text {
    margin-top: 4rem;
    width: 45%;
    margin-right: 8rem;
    margin-left: auto;

}

.about-about-section-paragraph-one {
    font-size: 1.3rem;
    color: white;
}

.about-about-section-paragraph-two {
    font-size: 1.3rem;
    color: white;
}

/*Media queries for about about section*/
@media screen and (max-width: 768px) {
    .about-about-section-container {
        height: 100%;
    }

    .about-about-section-overlay {
        height: 100%;
    }

    .about-about-section-header {
        margin-left: 10%;
        padding-top: 13rem;
        width: 80%;
    }

    .about-about-section-heading {
        text-align: center;
        opacity: 1;
        font-size: 3rem;
        color: white;
    }

    .about-about-section-text {
        text-align: center;
        margin-top: 4rem;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0.2rem;
        border: solid rgba(255, 0, 0, 0);

    }

    .about-about-section-paragraph-one {
        font-size: 1.3rem;
        color: white;
    }

    .about-about-section-paragraph-two {
        font-size: 1.3rem;
        color: white;
    }
}

/*The gap with logo symbols coming up*/
.about-gap-section-one-container {
    position: relative;
    background-image: url(../public/about/cloudsDark.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

/*adding image as overlay*/
.about-gap-section-one-container-overlay {
    position: absolute;
    background-image: url(../public/about/Colourblur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.about-gap-one-pillars-container {
    padding-top: 10rem;
}

.about-gap-one-pillar-one {
    position: absolute;
    left: -18rem;
    width: 58rem;
    height: 59rem;
}

.about-gap-one-pillar-two {
    position: absolute;
    left: 20rem;
    top: 5rem;
    width: 25rem;
}

.about-gap-one-pillar-three {
    position: absolute;
    left: 45rem;
    top: 15rem;
    width: 20rem;
    transform: scaleX(-1);
}

.about-gap-one-pillar-four {
    position: absolute;
    left: 55rem;
    top: 15rem;
    width: 35rem;
    transform: scaleX(-1);
}


/*approach section*/
.about-approach-section-container {
    position: relative;
    background-image: url(../public/about/cloudsDark.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

/*adding image as overlay*/
.about-approach-section-overlay {
    position: absolute;
    background-image: url(../public/about/Colourblur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.about-approach-section-header {
    text-align: center;
    padding-top: 10rem;
}

.about-approach-section-heading {
    text-align: center;
    opacity: 1;
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

.about-approach-section-heading-blue {
    color: #49ccfc;
    margin-top: 0;
    padding-top: 0;
    margin-right: 8%;
}

.about-approach-section-text {
    /*margin-right: 50%;*/
    text-align: right;
    margin-left: 27%;
    width: 30%;

}

.about-approach-section-paragraph-one {
    color: #ffffff;
    font-size: 1.3rem;
}

.about-approach-section-paragraph-two {
    padding-top: 2rem;
    color: #ffffff;
    font-size: 1.3rem;
}

/*media queries for approach section*/
@media screen and (max-width: 768px) {
    .about-approach-section-container {
        height: 100%;
    }

    .about-approach-section-overlay {
        height: 100%;
    }

    .about-approach-section-header {
        text-align: center;
        padding-top: 13rem;
    }

    .about-approach-section-heading {
        text-align: center;
        opacity: 1;
        font-size: 3rem;
        color: white;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .about-approach-section-heading-blue {
        color: #49ccfc;
        margin-top: 0;
        padding-top: 0;
        margin-right: 8%;
    }

    .about-approach-section-text {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 0.2rem;
        border: solid rgba(255, 0, 0, 0);
        width: 100%;
    }

    .about-approach-section-paragraph-one {
        color: #ffffff;
        font-size: 1.3rem;
    }

    .about-approach-section-paragraph-two {
        padding-top: 2rem;
        color: #ffffff;
        font-size: 1.3rem;
    }
}

/*Gap section 2*/
/*The gap with logo symbols coming up*/
.about-gap-section-two-container {
    position: relative;
    background-image: url(../public/about/cloudsDark.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

/*adding image as overlay*/
.about-gap-section-two-container-overlay {
    position: absolute;
    background-image: url(../public/about/Colourblur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.about-gap-two-pillars-container {
    padding-top: 10rem;
}

.about-gap-two-pillar-one {
    position: absolute;
    left: -15rem;
    top: 15rem;
    width: 50rem;
    height: 59rem;
}

.about-gap-two-pillar-two {
    position: absolute;
    left: 40rem;
    top: 0rem;
    width: 50rem;
    transform: scaleX(-1);
}


/*media queries for pillars*/
@media screen and (max-width: 768px) {
    .about-gap-two-pillar-one {
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .about-gap-two-pillar-two {
             width: 0;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .about-gap-one-pillar-one {
            width: 0;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .about-gap-one-pillar-two {
             width: 0;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .about-gap-one-pillar-three {
            width: 0;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .about-gap-one-pillar-four {
             width: 0;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/*Vision section*/
.about-vision-section-container {
    position: relative;
    background-image: url(../public/about/cloudsDark.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

/*adding image as overlay*/
.about-vision-section-overlay {
    position: absolute;
    background-image: url(../public/about/Colourblur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.about-vision-section-header {
    padding-top: 13rem;
    width: 50%;
    margin-left: 15%;
}

.about-vision-section-heading {
    opacity: 1;
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

.about-vision-section-heading-blue {
    color: #49ccfc;
    margin-top: 0;
    padding-top: 0;
    margin-right: 8%;
}

.about-vision-section-text {
    text-align: left;
    margin-left: 55%;
    width: 30%;

}


.about-vision-section-paragraph-one {
    color: #ffffff;
    font-size: 1.3rem;
}

.about-vision-section-paragraph-two {
    padding-top: 2rem;
    color: #ffffff;
    font-size: 1.3rem;
}

/*Media queries for vision*/
@media screen and (max-width: 768px) {
    .about-vision-section-container {
        height: 100%;
    }

    .about-vision-section-overlay {
        height: 100%;
    }

    .about-vision-section-header {
        padding-top: 13rem;
        width: 80%;
        margin-left: 10%;
    }

    .about-vision-section-heading {
        opacity: 1;
        font-size: 3rem;
        color: white;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .about-vision-section-heading-blue {
        color: #49ccfc;
        margin-top: 0;
        padding-top: 0;
        margin-right: 8%;
    }

    .about-vision-section-text {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 0.2rem;
        border: solid rgba(255, 0, 0, 0);
        width: 100%;
    }

    .about-vision-section-paragraph-one {
        color: #ffffff;
        font-size: 1.3rem;
    }

    .about-vision-section-paragraph-two {
        padding-top: 2rem;
        color: #ffffff;
        font-size: 1.3rem;
    }
}