@import "~bootstrap/dist/css/bootstrap.min.css";

html {
    cursor: none;
}

html,
body {

    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
}


@media (max-width: 700px) {
    html,
    body {

    }
}